<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/styles/mopet-screen.css}" rel="stylesheet" />
	<link th:href="@{/resources/dijit/themes/tundra/tundra.css}" rel="stylesheet" />
	<link th:href="@{/resources/images/favicon.ico}" rel="SHORTCUT ICON"/>
	<script th:attr="src=@{/resources/dojo/dojo.js}" type="text/javascript"/>
	<script th:attr="src=@{/resources/spring/Spring.js}" type="text/javascript"/>
	<script th:attr="src=@{/resources/spring/Spring-Dojo.js}" type="text/javascript"/>
	<script th:attr="src=@{/resources/js/mopet.js}" type="text/javascript"/>
	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
		th:src="@{/webjars/jquery/1.9.1/jquery.js}"></script>
	<script
		src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"
		th:src="@{/webjars/jquery-ui/1.10.2/ui/jquery-ui.js}"></script>
	
	<link
		href="http://ajax.googleapis.com/ajax/libs/jquery-ui/1.10.2/themes/smoothness/jquery-ui.css"
		th:href="@{/webjars/jquery-ui/1.10.2/themes/base/jquery.ui.all.css}"
		rel="stylesheet"></link>

</head>
<body>
	<div th:fragment="headline" >
		|
		<span>
		<a th:text="'home'"
			th:href="@{/home}"/>
		</span>
		<span th:if="${null!=folderT}">
		&gt; <a th:text="${folderT.mtlO.folder}"
			th:href="@{${cs}+'/tfolder'+'='+${folderT.id}}"/>
		</span>
		<span th:if="${null!=conceptT}">
		&gt; <a class="conceptContent " 
			th:text="${conceptT.mtlO.protocol}"
			th:href="@{${cs}+'/study-sg'+'='+${conceptT.id}}"/>
		</span>
		<span th:if="${null!=regimeT}">
		&gt; <a class="regimeContent " 
			th:text="${regimeT.taskO.task}"
			th:href="@{${cs}+'/cere-'+${regimeView}+'='+${regimeT.id}}"/>
		</span>
	</div>
</body>
</html>
