<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/styles/mopet-screen.css}" rel="stylesheet" />
	<link th:href="@{/resources/dijit/themes/tundra/tundra.css}" rel="stylesheet" />
	<link th:href="@{/resources/images/favicon.ico}" rel="SHORTCUT ICON"/>
	<script th:attr="src=@{/resources/dojo/dojo.js}" type="text/javascript"/>
	<script th:attr="src=@{/resources/spring/Spring.js}" type="text/javascript"/>
	<script th:attr="src=@{/resources/spring/Spring-Dojo.js}" type="text/javascript"/>
	<script th:attr="src=@{/resources/js/mopet.js}" type="text/javascript"/>
</head>
<body>
Hello body

</body>
</html>